[Unit]
Description=Refresh public VMISS status every 30 seconds

[Timer]
OnBootSec=15
OnUnitActiveSec=30
AccuracySec=1
Unit=vmiss-public-status.service

[Install]
WantedBy=timers.target
