[Unit]
Description=Check ZgoCloud, RFCHOST and V.PS about every five minutes

[Timer]
OnActiveSec=300
OnUnitActiveSec=300
RandomizedDelaySec=10
AccuracySec=1
Unit=vps-stock-monitor.service

[Install]
WantedBy=timers.target
