[Unit]
Description=Check stock at random intervals of eight to twelve minutes

[Timer]
OnActiveSec=480
OnUnitInactiveSec=480
RandomizedDelaySec=240
AccuracySec=1
Unit=vps-stock-monitor.service

[Install]
WantedBy=timers.target
